@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <button class="btn btn-primary" onclick="document.location = 'get'">get</button>
        <button class="btn btn-success" onclick="document.location = 'add'">add</button>
    </div>
</div>
